<p>A tool for House of Commons librarians to help confirm which written questions remain unanswered past the point where convention suggests an answer might be expected.<p>

<p>All data is sourced from the <%= link_to( 'Written Questions Service API', 'https://questions-statements-api.parliament.uk/index.html' ) %> and includes three types of written question:</p>

<ol>
	<li>Dates for answer for questions in the House of Lords are sourced directly from the API. These are set to be ten working days following the tabling of the question.</li>
	<li>Dates for answer for 'named day' questions in the House of Commons are also sourced directly from the API. They are set to be the date by which the Member requested an answer.</li>
	<li>Dates for answer for 'ordinary' questions in the House of Commons are set at seven calendar days following the tabling of the question, following the <%= link_to( 'convention set out here', 'https://www.parliament.uk/about/how/business/written-answers/' ) %>. 'Ordinary' questions with a tabling date less than eight days ago are not included.</li>
</ol>

<div id="caveats">
	<%= content_tag( 'h2', 'Caveats') %>
	<%= content_tag( 'p', "This website is intended to only list questions tabled in the current session. The advertised API filter scoping results to the current session isn't working as expected. We aim to resolve this as soon as possible." ) %>
	<%= content_tag( 'p', "CSV downloads are made available for all question listings. These contain a truncated version of the question text. The full question text is available from both #{link_to( "Parliament's written questions, answers and statements website", 'https://questions-statements.parliament.uk/')} and the Written Questions Service API.".html_safe ) %>
</div>





