<!DOCTYPE html>
<html>
	<head>
		<%= render :partial => 'library_design/head/head' %>
	</head>
	<body class="section-<%= @section %> subsection-<%= @subsection %> brand-bicameral">
		<%= render :partial => 'layouts/header' %>
		<main class="container block block-page" id="main-content">
			<%= content_tag( 'h1', @multiline_page_title || @page_title || $SITE_TITLE ) %>
			<%= yield %>
		</main>
		<%= render :partial => 'library_design/footer' %>
	</body>
</html>
