<!DOCTYPE html>
<html>
	<head>
		<title><%= @page_title || 'Question Checker' %></title>
		<meta name="description" content="<%= @description %>">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="mobile-web-app-capable" content="yes">
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>
		<%= yield :head %>
		<%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
		<%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>
		<link rel="icon" href="/icon.png" type="image/png">
		<link rel="icon" href="/icon.svg" type="image/svg+xml">
		<link rel="apple-touch-icon" href="/icon.png">
		
		<%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
		
		<%= render 'library_design/library_design_stylesheets' %>
		<%= stylesheet_link_tag "application" %>
		
		<%= render :partial => 'library_design/head/json_ld/crumb', :object => @crumb %>
		
		<% if @csv_url -%>
			<link rel="alternate" href="<%= @csv_url %>" type="text/csv">
		<% end -%>
	</head>
	<body>
		<%= render :partial => 'layouts/header' %>
		<main class="container block block-page" id="main-content">
			<%= content_tag( 'h1', @multiline_page_title || @page_title || 'Question Checker' ) %>
			<%= yield %>
			<% if @csv_url -%>
				<%= csv_link( @csv_url ) %>
			<% end -%>
		</main>
		<%= render :partial => 'library_design/footer' %>
	</body>
</html>
