<!DOCTYPE html>
<html>
	<head>
		<%= render :partial => 'layouts/head' %>
	</head>
	<body class="section-<%= @section %> subsection-<%= @subsection %> brand-bicameral">
		<%= render :partial => 'layouts/header' %>
		<main class="container block block-page" id="main-content">
			<%= content_tag( 'h1', @multiline_page_title || @page_title || 'Question Checker' ) %>
			<%= yield %>
			<% if @csv_url -%>
				<%= csv_link( @csv_url ) %>
			<% end -%>
		</main>
		<%= render :partial => 'library_design/footer' %>
	</body>
</html>
