<!DOCTYPE html>
<html>
	<head>
		<title><%= @page_title || 'Question Checker' %></title>
		<meta name="description" content="<%= @description %>">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="mobile-web-app-capable" content="yes">
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>
		<%= yield :head %>
		<%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
		<%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>
		<link rel="icon" href="/icon.png" type="image/png">
		<link rel="icon" href="/icon.svg" type="image/svg+xml">
		<link rel="apple-touch-icon" href="/icon.png">
		<%# Includes all stylesheet files in app/assets/stylesheets %>
		<%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
		<%= javascript_importmap_tags %>
	</head>
	<body>
		<header>
			<%= content_tag( 'p', link_to( 'Question Checker', root_url ) ) %>
			<nav>
				<p>
					<%= link_to( 'All questions', question_list_url, :class => 'questions' ) %>
					<%= link_to( 'By house', house_list_url, :class => 'houses' ) %>
					<%= link_to( 'By answering body', answering_body_list_url, :class => 'answering-bodies' ) %>
					<%= link_to( 'By tabling Member', member_list_url, :class => 'members' ) %>
				</p>
			</nav>
		</header>
		<main>
			<%= content_tag( 'h1', @multiline_page_title || @page_title || 'Question Checker' ) %>
			<%= yield %>
		</main>
		<%= render :partial => 'layouts/footer' %>
	</body>
</html>
